# Configurações do Firebase
EXPO_PUBLIC_FIREBASE_API_KEY=your-api-key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project-id.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
EXPO_PUBLIC_FIREBASE_APP_ID=1:your-sender-id:web:your-app-id
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-your-measurement-id

# Configurações do Stripe
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your-key
STRIPE_SECRET_KEY=sk_test_your-key

# Configurações do OneSignal
EXPO_PUBLIC_ONESIGNAL_APP_ID=your-onesignal-app-id

# Configurações do Sentry
EXPO_PUBLIC_SENTRY_DSN=https://your-sentry-dsn
SENTRY_AUTH_TOKEN=your-sentry-auth-token
EXPO_PUBLIC_SENTRY_ENABLED=true

# Configurações do Projeto
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_PROJECT_ID=6090106b-e327-4744-bce5-9ddb0d037045
