# dependencies
node_modules/
node_modules_old/
node_modules_old_trash/

# expo
.expo/
.expo-shared/
dist/
web-build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.production
.env.*
!.env.sentry-build-plugin
*.pem
google-service-account*.json
.runtimeconfig.json

# build
ios/
android/
build-artifacts/
*.ipa
*.aab

# misc
coverage/
