<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyDtb3R9DyV50vpS_6SI_k-6sv0zh8DQuAc</string>
    <key>GCM_SENDER_ID</key>
    <string>627855691834</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.acucaradas.encomendas</string>
    <key>PROJECT_ID</key>
    <string>acucaradas-encomendas</string>
    <key>STORAGE_BUCKET</key>
    <string>acucaradas-encomendas.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:627855691834:ios:802f87fc389cae45af6503</string>
</dict>
</plist>